body {
    background-color:#d0e4fe;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
    width:300px;
    border-collapse:collapse;
    border-bottom: 1px solid black;
}

tr.header{
    border-bottom: 1px solid black;
}
tr.blockheader{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

tr.odd {
    background-color:#FF9933;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

tr.even {
    background-color:#FFCC99;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.black_overlay{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.white_content {
    display: none;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 16px solid #FF9933;
    background-color: #d0e4fe;
    z-index:1002;
    overflow: auto;
}

.heart {
    margin-top: 6px;
    margin-left: 12px;
}

.logo {
    margin-top: 4px;
}

.add {
    width:  4em;  
    height: 1.75em;
    margin-left: 5px;
}

.scan {
    width:  4em;  
    height: 1.75em;
}
.del {
    width:  4em;  
    height: 1.75em;
}